/* src/components/TaskCard.css */
.task-card {
  background-color: #c8a74a;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-task {
  background-color: #c0392b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-task:hover {
  background-color: #e3b341;
}
